
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Open Sans";
}

body {

    background-color: grey;
}

h1 {
    color: white;
}

.gol {
    width: 550px;
    margin: 150px;
}

.topico {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    height: 500px;
    background: linear-gradient(270deg, #ff8800, #ff0000);
}

.c {
    width: 700px;
    text-align: center;
}

h2 {
    font-size: 50px;
    font-family: "Open Sans";
}


.b {
    width: 300px;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center
}

ul {
    display: flex;
    list-style-type: none;
}

li a{
    color: #4b77bf;
    margin: 10px;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social a {
    text-decoration: none;
    padding: 50px
}

.social a:hover {
    transform: scale(1.5);
}

.social_logo {
    width: 80;
}

.item1 {
    font-size: 150px;
    color: white;
}

.item2 {
    font-size: 150px;
    color: red;
}

.item3 {
    font-size: 150px;
    color: white;
}

.button {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.container {
    width: 600px;
    padding: 20px;
    margin: auto;
    margin-top: 200px;
    background: linear-gradient(270deg, #ff8800, #ff0000);
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.ab {
    font-size: 50px;
}

label {
    margin-bottom: 10px;
    font-weight: bolder;
    color: cyan;
}

input, textarea {
    padding: 9px;
    margin-bottom: 20px;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    font-size: 20px;
}

button {
    padding: 10px;
    border-radius: 20px;
    background-color: blue;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
    margin: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: whitesmoke;
    color: blue;
}

.buttn {
    padding: 10px;
    border-radius: 40px;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    cursor: pointer;
}